<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="foobar_saml_customer" sortOrder="302" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="advanced" translate="label comment" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enabled_for_daikin" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>enable group assignment for daikin only</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>
                        <![CDATA[Enable it for Daikin only, when enabled = custom code will do group assignment for daikin specifically, do not use group mapping on daikin]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
